#---------------------------------
# CONFIG
#---------------------------------

# Name of analysis. Changing the name will create new sub-directories for
# voom, edgeR, and cuffdiff analysis.
pipeline_id: analysis_v1

# The directory the pipeline will write files.
results_dir: results/

# The directory containing Illumina sequencing read files in *.fastq.gz format.
# FASTQ files should be named in the format ....
seq_dir: data/

# Path to the CSV file with sample information regarding condition and
# covariates. See the wiki for more information.
samples_csv: samples.csv

# Path to the CSV file with which comparisons to make. If there are only two
# conditions listed in your samples.csv file, this can be set as False and
# the two conditions will be compared against each other.
comparisons_csv: False

# Which program to use for alignment. Choose from STAR and HISAT2.
alignment_method: STAR

# Which program to use for counting features. Choose from featureCounts and
# HTSeq-count.
count_method: featureCounts

# If the experiment is paired-end or single-end: True (PE) or False (SE).
paired_end: True

# Whether the experiment is strand specific: "yes", "no", or "reverse".
stranded: no

# Whether to trim reads with Trimmomatic before alignment. Adapter sequences
# to be removed should be specified in `adapter_seq`. After removing adapters,
# steps in `trimmomatic_parameters` will be run. If not trimming reads,
# `adapter_seq` and `trimmomatic_parameters` can be set as False.
# For more details, see:
# http://www.usadellab.org/cms/?page=trimmomatic
trim_reads: True
adapter_seq: adapter.fa
trimmomatic_parameters: "LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36"

# To get annotations from Ensembl BioMart the gene_ref GTF file needs to use IDs
# from Ensembl. Set annotation_dataset as the name of the dataset to be queried
# or False to skip annotation. Commonly used datasets include "hsapiens_gene_ensembl"
# (human) and "mmusculus_gene_ensembl" (mouse). See the manual for more information.
annotation_dataset: hsapiens_gene_ensembl

#--------------------------------
# REFERENCE FILES
#--------------------------------

# The reference genome in FASTA format. Also needs an indexed genome (.fai) and
# dictionary (.dict) file in the same directory.
reference_genome: reference/hg19.fasta

# Gene set reference file in GTF format. It is recommended to use the file
# obtained from Ensembl as Ensembl gene IDs are used for annotation (if specified).
gene_ref: reference/genes.gtf

#--------------------------------
# OPTIONAL SETTINGS
#--------------------------------

# STAR index directory. Set as False if index is to be generated. If not using STAR for alignment, set as False.
star_index: False # reference/hg19_star_index/

# The basename of the index for the HISAT2 reference genome. The basename is
# the name of the index files up to but not including the .1.ht2 / .2.ht2 etc.
hisat_index: False # reference/hg19_hisat_index/genome

# rRNA reference file in FASTA format or GATK interval format (.list) containing
# rRNA intervals to calculate the rRNA content. Can set as False if not available.
rrna_ref: reference/human_rRNA.list

# Optional tRNA and rRNA sequences to filter out in Cuffdiff (.gtf or .gff).
# Set as False if not provided.
cuffdiff_mask_file: False

#---------------------------------
# PIPELINE CONFIG
#---------------------------------

# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: VR0002
    queue: main
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: True

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Quality control with FastQC
    fastqc:
        cores: 1
        walltime: '1:00'
        mem: 8
        modules:
            - 'fastqc/0.10.1'
    trim_reads:
        cores: 1
        walltime: '8:00'
        mem: 12
    build_index:
        cores: 4
        walltime: '8:00'
        mem: 32
    align:
        cores: 8
        walltime: '8:00'
        mem: 8
        modules:
            - 'star/2.5'
    samtools:
        walltime: '4:00'
        mem: 8
